body {
  width: 1600px;
  height: 4182px;
}
button {
  border: none;
}
  button:hover {
    background-color: #009CC2;
  }
input::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #373737;
}
header {
  height: 95px;
}
footer {
  position: absolute;
  width: 1600px;
  height: 184px;
  left: 0px;
  top: 3998px;
  background: #000000;
}
.about {
  position: absolute;
  width: 38px;
  height: 21px;
  left: 502px;
  top: 38px;
}
.additional_menu {
  position: absolute;
  width: 236px;
  height: 20px;
  left: 0px;
  top: -2px;
}
.apple_store {
  position: absolute;
  width: 91px;
  height: 16px;
  left: 19px;
  top: 18px;
}
.auto_layout {
  display: flex;
  flex-direction: row;
  padding: 15px 47px;
}
.background_blue {
  background-color: #00AFDB;
}
.bg_1 {
  position: absolute;
  width: 1600px;
  height: 744px;
  left: 0px;
  top: 0px;
}
.bg_2 {
  position: absolute;
  width: 1600px;
  height: 842px;
  left: 0px;
  top: 744px;
}
.bg_3 {
  position: absolute;
  width: 1600px;
  height: 842px;
  left: 0px;
  top: 2090px;
  background-color: #FFFFFF;
}
.bg_4 {
  position: absolute;
  width: 1600px;
  height: 504px;
  left: 0px;
  top: 1586px;
}
.bg_5 {
  position: absolute;
  width: 1600px;
  height: 598px;
  left: 0px;
  top: 2931px;
}
.bg_6 {
  position: absolute;
  width: 1600px;
  height: 468px;
  left: 0px;
  top: 3530px;
}
.bg_7 {
  position: absolute;
  width: 1600px;
  height: 468px;
  left: 0px;
  top: 0px;
  background: #F5F6F7;
}
.bg_image {
  position: absolute;
  width: 1600px;
  height: 766px;
  left: 0px;
  top: -22px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
}
.bg_image_5 {
  position: absolute;
  overflow: hidden;
  width: 1600px;
  height: 598px;
  left: 0px;
  top: 0px;
}
.bg_image_wrapper {
  position: absolute;
  width: 1600px;
  height: 744px;
  left: 0px;
  top: 0px;
}
.btn_main {
  position: absolute;
  width: 184px;
  height: 46px;
  left: 707px;
  top: 406px;
}
.btn_main_2 {
  position: absolute;
  width: 184px;
  height: 46px;
  left: 0px;
  top: 187px;
}
.btn_main_3 {
  position: absolute;
  width: 180px;
  height: 46px;
  left: 0px;
  top: 138px;
}
.btn_market {
  position: absolute;
  width: 188px;
  height: 50px;
  left: 815px;
  top: 238px;
}
.btn_store {
  position: absolute;
  width: 188px;
  height: 50px;
  left: 597px;
  top: 238px;
}
.btn_submit {
  position: absolute;
  width: 66px;
  height: 46px;
  left: 340px;
  top: 0px;
}
.content_block {
  position: absolute;
  width: 407px;
  height: 233px;
  left: 268px;
  top: 295px;
}
.content_block_2 {
  position: absolute;
  width: 407px;
  height: 184px;
  left: 815px;
  top: 319px;
}
.content_image_1 {
  position: absolute;
  width: 407px;
  height: 582px;
  left: 923px;
  top: 120px;
}
.content_image_2 {
  position: absolute;
  width: 407px;
  height: 582px;
  left: 269px;
  top: 120px;
}
.content_image_5 {
  position: absolute;
  width: 1920px;
  height: 1281px;
  left: -160px;
  top: -615px;
}
.copyright {
  position: absolute;
  width: 170px;
  height: 20px;
  left: 1270px;
  top: 73px;
  text-align: center;
  color: #818181;
}
.credits {
  position: absolute;
  width: 45px;
  height: 20px;
  left: 0px;
  top: 0px;
}
.dot {
  position: absolute;
  width: 46px;
  height: 20px;
  left: 135px;
  top: 0px;
}
.h2_24_bold {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.h3_16_upper_bold {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.header_downloader {
  position: absolute;
  width: 250px;
  height: 28px;
  left: 675px;
  top: 120px;
}
.header_form {
  position: absolute;
  width: 380px;
  height: 28px;
  left: 13px;
  top: 0px;
}
.header_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  display: flex;
  align-items: center;
}
.get_started {
  position: static;
  width: 90px;
  height: 16px;
  left: calc(50% - 90px/2);
  top: calc(50% - 16px/2);
}
.google_store {
  position: absolute;
  width: 94px;
  height: 16px;
  left: 17px;
  top: 18px;
}
.icon {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 0px;
  top: 0px;
}
.icon_andoid {
  position: absolute;
  width: 60px;
  height: 50px;
  left: 128px;
  top: 0px;
}
.icon_apple {
  position: absolute;
  width: 60px;
  height: 50px;
  left: 128px;
  top: 0px;
}
.inside_layout {
  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 0px;
}
.insta_fff {
  position: absolute;
  left: 58.82%;
  right: 29.41%;
  top: 0%;
  bottom: 0%;
}
.fa_check {
  position: absolute;
  width: 19px;
  height: 16.52px;
  left: calc(50% - 19px/2 + 0.5px);
  top: calc(50% - 16.52px/2 - 0px);
}
.facebook_fff {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50px;
  top: 0px;
}
.faq {
  position: absolute;
  width: 26px;
  height: 20px;
  left: 1058px;
  top: 38px;
}
.five {
  position: absolute;
  width: 37px;
  height: 25px;
  left: calc(70% - 39px/2);
  top: calc(50% - 25px/2 - 0.5px);
}
.form {
  position: absolute;
  width: 406px;
  height: 46px;
  left: 0px;
  top: 59px;
}
.form_block {
  position: absolute;
  width: 406px;
  height: 104px;
  left: 597px;
  top: 217px;
}
.form_field {
  position: absolute;
  width: 340px;
  height: 46px;
  left: 0px;
  top: 0px;
  padding: 0;
  border: none;
  background: #FFFFFF;
  border-radius: 0px;
}
.form_field_store {
  position: absolute;
  width: 128px;
  height: 50px;
  left: 0px;
  top: 0px;
}
.frame_5 {
  position: absolute;
  width: 298px;
  height: 175px;
  left: 269px;
  top: 155px;
}
.frame_6 {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 127px;
  top: 0px;
}
.logo_header {
  position: absolute;
  width: 44px;
  height: 45px;
  left: 778px;
  top: 25px;
}
.logo_footer {
  position: absolute;
  width: 44px;
  height: 45px;
  left: 618px;
  top: -15px;
}
.lorem_ipsum {
  position: absolute;
  width: 407px;
  height: 60px;
  left: 0px;
  top: 48px;
}
.lorem_ipsum_2 {
  position: absolute;
  width: 407px;
  height: 80px;
  left: 0px;
  top: 77px;
}
.lorem_ipsum_4 {
  position: absolute;
  width: 298px;
  height: 80px;
  left: calc(50% - 298px/2);
  top: 95px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}
.lorem_ipsum_6 {
  position: absolute;
  width: 483px;
  height: 40px;
  left: 559px;
  top: 168px;
}
.mail_fff {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
}
.menu_divider_1 {
  position: absolute;
  width: 8px;
  height: 0px;
  left: 151px;
  top: 10px;
  border: 1px solid #4E4E4E;
  transform: rotate(-90deg);
}
.menu_divider_2 {
  position: absolute;
  width: 8px;
  height: 0px;
  left: 65px;
  top: 10px;
  border: 1px solid #4E4E4E;
  transform: rotate(-90deg);
}
.nav_items {
  position: absolute;
  width: 79px;
  height: 20px;
  left: 1252px;
  top: 80px;
}
.nav_items_footer {
  position: absolute;
  width: 273px;
  height: 16px;
  left: 160px;
  top: 75px;
}
.one {
  position: absolute;
  width: 37px;
  height: 25px;
  left: calc(30% - 33px/2);
  top: calc(50% - 25px/2 - 0.5px);
}
.one_five {
  position: absolute;
  width: 37px;
  height: 25px;
  left: calc(50% - 37px/2);
  top: calc(50% - 25px/2 - 0.5px);
}
.opacity_08 {
  opacity: 0.8;
}
.opacity_098 {
  opacity: 0.98;
}
.our_community {
  position: absolute;
  width: 165px;
  height: 20px;
  left: calc(50% - 160px/2);
  top: 65px;
}
.our_teams {
  position: absolute;
  width: 65px;
  height: 20px;
  left: 171px;
  top: 0px;
}
.privacy {
  position: absolute;
  width: 46px;
  height: 20px;
  left: 85px;
  top: 0px;
}
.projects {
  position: absolute;
  width: 52px;
  height: 20px;
  left: 923px;
  top: 38px;
}
.rappresent {
  position: absolute;
  width: 367px;
  height: 57px;
  left: 0px;
  top: 0px;
}
.rappresent_2 {
  position: absolute;
  width: 298px;
  height: 28px;
  left: 0px;
  top: 0px;
}
.rectangle {
  position: absolute;
  width: 1600px;
  height: 504px;
  left: 0px;
  top: 0px;
  background: #F5F6F7;
}
.rectangle_1 {
  position: absolute;
  width: 407px;
  height: 244px;
  left: 0px;
  top: 0px;
}
.rectangle_2 {
  position: absolute;
  width: 407px;
  height: 244px;
  left: 0px;
  top: 0px;
  background: #C4C4C4;
}
.rectangle_3 {
  position: absolute;
  width: 407px;
  height: 244px;
  left: 0px;
  top: 0px;
}
.rectangle_4 {
  position: absolute;
  width: 66px;
  height: 46px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}
.rectangle_5 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 0px;
  top: 3px;
}
.rectangle_6 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 65px;
  top: 3px;
}
.slider_item_1 {
  position: absolute;
  width: 407px;
  height: 244px;
  left: 0px;
  top: 0px;
}
.slider_item_2 {
  position: absolute;
  width: 407px;
  height: 244px;
  left: 437px;
  top: 0px;
}
.slider_item_3 {
  position: absolute;
  width: 407px;
  height: 244px;
  left: 874px;
  top: 0px;
}
.slider_items {
  position: absolute;
  width: 894px;
  height: 244px;
  left: 706px;
  top: 120px;
  overflow: hidden;
}
.socials {
  position: absolute;
  width: 170px;
  height: 20px;
  left: 715px;
  top: 635px;
}
.syllabus {
  position: absolute;
  width: 53px;
  height: 20px;
  left: 625px;
  top: 38px;
}
.telegram_fff {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 150px;
  top: 0px;
}
.text_big {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
}
.text_huge {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}
.text_black {
  color: #373737;
}
.text_normal {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
}
.text_normal_uppercase {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.text_white{
  color: #FFFFFF;
}
.your_life {
  position: absolute;
  width: 730px;
  height: 75px;
  left: 435px;
  top: 231px;
}
.whatever {
  position: absolute;
  width: 504px;
  height: 50px;
  left: 548px;
  top: 326px;
}
